
*{
    padding: 0px;
    margin: 0px;
    }

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

h1 {
    font-family: "Londrina Outline";
    font-size: 100px;
    padding: 30px 0 30px 0;
  background: conic-gradient(
    #a42c6c 16%, 
    #15392a 16%, 
    #3f8e6d 33%, 
    #CA4346 33%, 
    #CA4346 50%, 
    #a42c6c 50%, 
    #a42c6c 66%, 
    #15392a 66%, 
    #3f8e6d 83%, 
    #CA4246 83%);
}

h3 {
    padding: 30px;
}

img {
    border-radius: 30px;
    border: solid 3px white;
    padding: 3px;
}

.container {
    padding: 40px;
}